/*--------------------------------------------------------------
x.0 Base Settings Panel
--------------------------------------------------------------*/

.settings_page_rating-report {
    .form-table {
        .desc {
            color: #666;
            display: block;
            font: {
                size: 14px;
                style: italic;
            }
            margin: 2px 0 5px;
        }

        input[type="checkbox"] {
            & + label {
                display: inline;
            }
        }
    }

    @media (min-width: 768px) {
        .rating-report-settings-buttons {
            clear: both;
            overflow: hidden;

            p {
                float: left;
                margin: 20px 10px 0 0;
                padding: 20px 0 10px;
            }
        }
    }
}

/*--------------------------------------------------------------
x.0 Text Repeat
--------------------------------------------------------------*/

.rating-report-repeat-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: .5em;

    th {
        padding: 15px 10px;
    }

    input {
        max-width: 100%;
    }
}

.rating-report-link-remove {
    width: 50px;
}